
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        
        <title>A fazenda</title>
    </head>
    <body>
        <div class="container">
            <header class="container-header">
                
                <img class="imagem" src="./assets/logo.png" alt="Logo a fazenda">
                    <div class="container-titulo">
                        <h1 class="titulo-principal">Ranking</h1>
                    </div>
                
            </header>
            
           <main>
                <div class="conteudo-principal" >
                    <div class="card">
                        <div class="card-image">
                            <img  src="./img/pessoa.jpg" alt="">
                        </div>
                        
                        <div class="card-info">
                            <h2 class="card-name">Bárbara Evans</h2>
                            <p class="card-description">Modelo e filha de Monique Evans</p>
                        </div>
                    </div>
                        <div class="card">
                            <div class="card-image">
                                <img  src="./img/pessoa.jpg" alt="">
                            </div>
                            <div class="card-info">
                                <h2 class="card-name">Bárbara Evans</h2>
                                <p class="card-description">Modelo e filha de Monique Evans</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-image">
                                <img src="./img/pessoa.jpg" alt="">
                            </div>
                            <div class="card-info">
                                <h2 class="card-name">Bárbara Evans</h2>
                                <p class="card-description">Modelo e filha de Monique Evans</p>
                            </div>
                            
                        </div>
                        <div class="card">
                            <div class="card-image">
                                <img src="./img/pessoa.jpg" alt="">
                            </div>
                            <div class="card-info">
                                <h2 class="card-name">Bárbara Evans</h2>
                                <p class="card-description">Modelo e filha de Monique Evans</p>
                            </div>
                            
                        </div>
                        <div class="card">
                            <div class="card-image">
                                <img  src="./img/pessoa.jpg" alt="">
                            </div>
                            <div class="card-info">
                                <h2 class="card-name">Bárbara Evans</h2> 
                                <p class="card-description">Modelo e filha de Monique Evans</p>
                            </div>
                        </div>
                            
                        
                </div>
                
            </main>  
        </div>
         
    </body>
</html>